<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.ListenerClass"></listener>
	</listeners>
	<parameter name="url"
		value="https://thinking-tester-contact-list.herokuapp.com/"></parameter>

	<test thread-count="5" name="ChromeTest">
		<parameter name="browser" value="Chrome"></parameter>
		<classes>
			<class name="tests.TC001_SignUpTest" />
			<class name="tests.TC002_LoginTest" />
			<class name="tests.TC003_AddContactTest"/>
			<class name="tests.TC004_ContactDisplayTest"/>
			<class name="tests.TC005_ContactEditTest"/>
			<class name="tests.TC006_ContactDeleteTest"/>
			<class name="tests.TC007_LogoutTest"/>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
